{% extends 'base2.html' %}


{% block contentpa %}
<br>

	<div class="col-md-5" style="width:100%; margin-top:10px;">
		<div class="card card-body">
			<h5>Statut Panne:</h5>
			<hr>
			<br>
			{% if request.is_staff %}
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'ajouterPA' %}"> Inserer nouveau type de panne </a>
			{% endif %}
			<br>
			<br>
		</div>
	</div>

	<div class="col-md-3" style="width:100%; margin-top:10px;">
		<div class="card card-body">
			<h5>Informations</h5>
			<hr>
			<p> <h2 style="color:#1ab394;"><span class="text-navy"><i class="fa fa-play fa-rotate-270"></i></span> <span class="text-danger"><i class="fa fa-play fa-rotate-90"></i></span> {{count}}   </h2></p>
		</div>
	</div>

	<div class="col-md-4" style="width:100%; margin-top:10px;">
		<div class="card card-body">
			<h5>Nombre Panne</h5>
			<hr>
			<h2 class="font font-bold" style="text-align: center; padding:10px">... {{count}} Pannes ...</h2>
			<br>
		</div>
	</div>

	{% for i in panne %}

	<div class="col-md-3" style="width:100%; margin-top:10px;">
		<div class="card card-body">
			<span>
				<h4> {{ i.nomp }} </h4>
				{% if request.user.is_staff %}
			 	<small class="float-right"><a class=" btn btn-danger" href="{% url 'supprimerPA' i.id %}" style=" margin-left:0px;"> Supprimer </a></small>
				<small class="float-right"><a class=" btn btn-warning" href="{% url 'modifierPA' i.id %}" style=" margin-left:0px;"> Modifier </a></small>
				{% endif %}
				<hr>
			</span>
			<h5 style="text-align: center; padding:9px"> {{i.codep}}</h5>
			<h5 style="text-align: center; padding:9px"> {{i.priorite}}</h5>
			<br>
		</div>
	</div>

	{% endfor %}


{% endblock %}